.wallpaper {
	position: absolute;
	z-index: 69;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(http://hdqwalls.com/wallpapers/macos-mojave-evening-mode-stock-l9.jpg);
}